<div class="d-flex justify-content-center">
      <div class="col-md-10">
        <div *ngIf="isLoading" style="text-align: center;">
          <app-loading-spinner></app-loading-spinner>
        </div>
        <div *ngIf="!isLoading">
          <div>
            <img
            id="profile-img"
            src="/assets/images/sign-icon.png"
           />
          </div>
          <form
            name="form"
            #registerForm="ngForm"
            (ngSubmit)="onSubmit(registerForm)"
          >
            <div class="d-inline-flex align-items-center col-md-12 mb-3">
              <label for="lastname">Nom :</label>
              <input
                type="text"
                class="form-control"
                name="lastname"
                ngModel
                required
                minlength="3"
                #lastname="ngModel"
              />
              <div class="alert-danger" *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)">
                <div *ngIf="lastname.errors?.['required']">le nom est obligatoire</div>
                <div *ngIf="lastname.errors?.['minlength']">
                  La taille du nom minumum est 3 caratères
                </div>
              </div>
            </div>
            <div class="d-inline-flex align-items-center col-md-12 mb-3">
              <label for="firstname">Prénom :</label>
              <input
                type="text"
                class="form-control"
                name="firstname"
                ngModel
                required
                minlength="3"
                maxlength="20"
                #firstname="ngModel"
              />
              <div class="alert-danger" *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)">
                <div *ngIf="firstname.errors?.['required']">le prénom est obligatoire</div>
                <div *ngIf="firstname.errors?.['minlength']">
                  La taille du prénom minumum est 3 caratères
                </div>
              </div>
            </div>
            <div class="d-inline-flex align-items-center col-md-12 mb-3">
              <label for="email">Email :</label>
              <input
                type="email"
                class="form-control"
                name="email"
                ngModel
                required
                email
                #email="ngModel"
              />
              <div class="alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
                <div *ngIf="email.errors?.['required']">l'email est obligatoire</div>
                <div *ngIf="email.errors?.['email']">
                  L'email doit être une adresse mail valide
                </div>
              </div>
            </div>
            <div class="d-inline-flex align-items-center col-md-12 mb-3">
              <label for="password">Mot de passe :</label>
              <input
                type="password"
                class="form-control"
                name="password"
                [(ngModel)]="passwordValue"
                required
                minlength="6"
                #password="ngModel"
              />
              <div class="alert-danger" *ngIf="password.invalid && (password.dirty || password.touched)">
                <div *ngIf="password.errors?.['required']">le mot de passe est obligatoire</div>
                <div *ngIf="password.errors?.['minlength']">
                  La taille du mot de passe minumum est 6 caratères
                </div>
              </div>
            </div>
            <div class="d-inline-flex align-items-center col-md-12 mb-3">
              <label for="password_confirmation">Confirmation du mot de passe :</label>
              <input
                type="password"
                class="form-control"
                name="password_confirmation"
                [(ngModel)]="passwordConfirmationValue"
                required
                #password_confirmation="ngModel"
              />
              <div class="alert-danger" *ngIf="password_confirmation.dirty || password_confirmation.touched">
                <div *ngIf="password_confirmation.invalid  && password_confirmation.errors?.['required']">la confirmation du mot de passe est obligatoire</div>
                <div *ngIf="password_confirmation.valid && passwordConfirmationValue !== '' && passwordConfirmationValue !== passwordValue">
                  Les deux mots de passe ne sont pas identiques
                </div>
              </div>
            </div>
            <br/>
            <div class="d-inline-flexcol-md-6 text-center">
              <button class="btn btn-success" type="submit" [disabled]="!registerForm.valid">S'inscrire</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  