<div class="row">
    <div class="col">
        <ul class="nav flex-column">
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" routerLink="/main">Accueil</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" routerLink="/main/entreprise">Entreprise</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" routerLink="/main/magasins">Magasins</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" routerLink="/main/articles">Articles</a>
            </li>
        </ul>
    </div>
    <div class="col-10">
        <router-outlet></router-outlet>
    </div>
</div>