<div class="row">
    <div class="col-md-auto">
      <div class="d-flex align-items-start">
        <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <button class="nav-link rounded-0" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/main">Accueil</button>
          <button class="nav-link rounded-0" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" routerLinkActive="active" routerLink="/main/entreprise">Entreprise</button>
          <button class="nav-link rounded-0" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" routerLinkActive="active" routerLink="/main/magasins">Magasins</button>
          <button class="nav-link rounded-0" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" routerLinkActive="active" routerLink="/main/articles">Articles</button>
        </div>
      </div>
    </div>
    <div class="col-10">
        <router-outlet></router-outlet>
    </div>
</div>