<div>
    <form
    name="form"
    #storeForm="ngForm"
  >
    <div class="d-inline-flex align-items-center col-md-12 mb-3">
      <label for="title">Nom magasin :</label>
      <input
        type="text"
        id="title"
        class="form-control"
        name="title"
        ngModel
        required
        minlength="2"
        #title="ngModel"
      />
      <div class="alert-danger" *ngIf="title.invalid && (title.dirty || title.touched)">
        <div *ngIf="title.errors?.['required']">le nom de du magasin est obligatoire</div>
        <div *ngIf="title.errors?.['minlength']">
          La taille du nom du magasin minumum est 2 caratères
        </div>
      </div>
    </div>
    <div class="d-inline-flex align-items-center col-md-12 mb-3">
      <label for="adress">Adresse du magasin :</label>
      <input
        type="text"
        class="form-control"
        name="adress"
        ngModel
        required
        #adress="ngModel"
      />
      <div class="alert-danger" *ngIf="adress.invalid && (adress.dirty || adress.touched)">
        <div *ngIf="adress.errors?.['required']">l'adresse du magasin est obligatoire</div>
      </div>
    </div>
    <br/>
    <div class="d-inline-flexcol-md-6 text-center">
      <button class="btn btn-success" type="submit" >Enregister</button>
      <button class="btn btn-success" type="button" >Annuler</button>
    </div>
  </form>
</div>
