<div class="d-flex">
        <div *ngIf="!isSucessSave && isLoading" style="text-align: center;">
          <app-loading-spinner></app-loading-spinner>
        </div>
        <div *ngIf="!isSucessSave && !isLoading">
        <div>
            <button  class="btn btn-outline-primary" *ngIf="isNewEntreprise" (click)="createNewEntreprise()">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"></path>
                </svg>
                Ajouter votre entreprise
            </button>
            <button  class="btn btn-outline-primary" *ngIf="!isModify && !isNewEntreprise" (click)="modifyEntreprise()">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"></path>
                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"></path>
                </svg>
                Modifier les informations de votre entreprise
            </button>
        </div>
        <br/>
        <form
          name="form"
          #entrepriseForm="ngForm"
          (ngSubmit)="saveEntreprise(entrepriseForm)"
          *ngIf="!isNewEntreprise"
        >
          <div class="d-inline-flex align-items-center col-md-12 mb-3">
            <label for="company">Nom entreprise :</label>
            <input
              type="text"
              id="company"
              class="form-control"
              name="company"
              ngModel
              required
              minlength="2"
              [readonly]="!isModify"
              #company="ngModel"
            />
            <div class="alert-danger" *ngIf="company.invalid && (company.dirty || company.touched)">
              <div *ngIf="company.errors?.['required']">le nom de l'entreprise est obligatoire</div>
              <div *ngIf="company.errors?.['minlength']">
                La taille du nom de l'entreprise minumum est 2 caratères
              </div>
            </div>
          </div>
          <div class="d-inline-flex align-items-center col-md-12 mb-3">
            <label for="domain">Secteur :</label>
            <input
              type="text"
              id="domain"
              class="form-control"
              name="domain"
              ngModel
              required
              minlength="2"
              [readonly]="!isModify"
              #domain="ngModel"
            />
            <div class="alert-danger" *ngIf="domain.invalid && (domain.dirty || domain.touched)">
              <div *ngIf="domain.errors?.['required']">le secteur est obligatoire</div>
              <div *ngIf="domain.errors?.['minlength']">
                La taille du secteur minumum est 2 caratères
              </div>
            </div>
          </div>
          <div class="d-inline-flex align-items-center col-md-12 mb-3">
            <label for="adress">Adresse du siège :</label>
            <input
              type="text"
              class="form-control"
              name="adress"
              ngModel
              required
              [readonly]="!isModify"
              #adress="ngModel"
            />
            <div class="alert-danger" *ngIf="adress.invalid && (adress.dirty || adress.touched)">
              <div *ngIf="adress.errors?.['required']">l'adresse du siège est obligatoire</div>
            </div>
          </div>
          <br/>
          <div class="d-inline-flexcol-md-6 text-center" *ngIf="isNewEntreprise || isModify">
            <button class="btn btn-success" type="submit" [disabled]="!entrepriseForm.valid">Enregister</button>
            <button class="btn btn-success" type="button" (click)="cancel()">Annuler</button>
          </div>
        </form>
      </div>
      <div class="alert alert-success" role="alert" *ngIf="isSucessSave && !isLoading">
        Vos changements sont bien enregistrés !
      </div>
  </div>
